
/**
* @file
* Region layouting
*
* Layout the several regions in the theme. Its table-less, 3-cols, fixed 1024 width.
* Base was inspired by "the holy grail" on A List Apart.
*/

body {
	z-index: 1;
	position: relative;
	background: #101010;
}

div.sizeframe {
	width: 998px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	text-align: left;
}

#frame {
	padding-left: 178px; /* LC width */
	padding-right: 234px; /* RC width */
	z-index: 1;
	position: relative;
}

#frame div.column {
	position: relative;
	float: left;
	z-index: 10;
}

#content {
	width: 100%;
	margin-top: 32px;
}

#mainmenu {
	width: 178px; /* LC width */
	right: 178px; /* LC width */
	margin-left: -100%;
	margin-top: 16px;
}

#frame > #mainmenu {
  xxleft: -200px; /* -LC width for others */
  margin-left: expression(document.all.content.offsetWidth * -1); /* Fix for IE7 */
}

#rightbar {
	width: 234px; /* RC width */
	margin-right: -100%;
	margin-top: 72px;
}

#copyright {
	clear: both;
	z-index: 1;
	position: relative;
	padding-top: 32px;
	margin: 0 0 8px 0;
}

div.d-content {
	z-index: 10;
}

.subcontent {
	float: right;
	width: 160px;
}

#help {
	position: absolute;
	top: -22px;
	left: 0;
	height: 22px;
	width: 100%;
}

#perms {
  position: absolute;
  top: 30px;
  right: 16px;
  width: 468px;
}
		
#header {
	margin-top: 22px; /* platz for den helfer */
	xxheight: 110px;
	width: 100%;
}

/*** IE6 Fix ***/
* html #mainmenu {
	left: 234px; /* RC width */
}

/** block paddings **/
#mainmenu div.d-content {
	padding: 0 14px 0 16px;
}

#rightbar div.d-content {
	padding: 0 14px 0 14px;
}

#content div.d-content {
	padding: 0 18px 0 2px;
}

.subcontent div.d-subcontent {
	padding: 16px 0px 16px 16px;
}

#copyright div.d-content {
	padding: 0 0px 0 16px;
}